<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.isubham.astra_client">


    <application
        android:name="com.pitavya.astra.astra_common.tools.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity
            android:name="io.github.isubham.astra_client.com.pitavya.astra.astra_admin.astra_client.adminUser.AdminViewReportDialog"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialog"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="io.github.isubham.astra_client.com.pitavya.astra.astra_admin.astra_client.adminUser.AdminSignIn"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.isubham.astra_client.com.pitavya.astra.astra_admin.astra_client.adminUser.AdminVerifyDoc"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialog"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="io.github.isubham.astra_client.com.pitavya.astra.astra_admin.astra_client.adminUser.AdminHomeScreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name="io.github.isubham.astra_client.com.pitavya.astra.astra_admin.astra_client.adminUser.AdminCreateAccount" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" /> <!-- content provider for Image Saving -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>